<div class="container">
    <div layout="column">
        <div layout="row">
            <h3>Restaurants</h3>
            <span flex></span>
            <md-button class="md-fab md-mini md-primary" ng-if="authService.isSystemManager()"
                       aria-label="Add Store" ng-click="addRestaurant()">
                <md-icon md-svg-src="img/ic_add_white_24px.svg"></md-icon>
            </md-button>
        </div>
        <md-divider></md-divider>
        <md-card ng-class="{'md-whiteframe-4dp':hovering}"
                 ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
            <md-list flex>
                <md-list-item class="md-3-line" ng-repeat="restaurant in restaurants" ng-click="null">
                    <div class="md-list-item-text" style="margin-left: 20px;">
                        <h3>{{ restaurant.name }}</h3>
                        <h4>{{ restaurant.description }}</h4>
                        <p>{{ restaurant.restaurantType.name }}</p>
                    </div>
                </md-list-item>
            </md-list>
            </md-card-content>
        </md-card>
    </div>
</div>