 <div>
	<h1>Resaurant managers</h1>
	
	<table  class="table table-bordered tableBG" border="1">
		<tbody>
	        <tr>
				<th>Id</th>
				<th>Firstame</th>
                <th>Lastname</th>
                <th>Mail</th>
               	<th colspan="1">Operations</th>
	        </tr>
			<tr ng-repeat="restaurantManager in restaurantManagers">
				<td> 
					{{restaurantManager.id}}
				</td>
				<td>
		    		{{restaurantManager.firstname}}	
				</td>
            	<td>
		    		{{restaurantManager.lastname}}	
				</td>
            	<td>
		    		{{restaurantManager.mail}}	
				</td>
				<td>
					<a ng-click="delete(restaurantManager)" class="btn btn-small btn-default"><span class="glyphicon glyphicon-trash"></span> Delete</a>
				</td>
            </tr>
		</tbody>
    </table> 
</div>

