<md-dialog class="md-padding card" style="width: 400px">
    <form novalidate name="changePasswordForm" layout="column">
        <md-dialog-content style="padding-top: 30px">
            <md-dialog-content>
                <md-input-container class="md-block">
                    <label>Old password</label>
                    <input id="oldPassword" name="oldPassword" type="password" data-ng-model="userCredentials.oldPassword"
                           required>
                    <div ng-messages="oldPassword.oldPassword.$error"
                         ng-if="registerForm.oldPassword.$dirty">
                        <div ng-message="required">This field cannot be empty.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input id="password" name="password" type="password" data-ng-model="userCredentials.password"
                           required>
                    <div ng-messages="oldPassword.password.$error"
                         ng-if="registerForm.password.$dirty">
                        <div ng-message="required">This field cannot be empty.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Confirm password</label>
                    <input id="confirmPassword" name="confirmPassword" type="password" data-ng-model="userCredentials.confirmPassword"
                           required>
                    <div ng-messages="registerForm.password.$error"
                         ng-if="oldPassword.password.$dirty">
                        <div ng-message="required">This field cannot be empty.</div>
                    </div>
                </md-input-container>
            </md-dialog-content>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="close()">Close</md-button>
            <md-button type="submit" class="md-primary md-raised" ng-click="submit()"
                       ng-disabled="changePasswordForm.$invalid">Update
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>





