<md-dialog class="md-padding card" style="width: 400px">
    <form novalidate name="editProfileForm" layout="column">
        <md-dialog-content style="padding-top: 30px">
            <md-dialog-content>
                <md-input-container class="md-block">
                    <label>First Name</label>
                    <input id="firstName" name="firstName" type="text" data-ng-model="user.firstName" required>
                    <div ng-messages="editProfileForm.firstName.$error" ng-if="registerForm.firstName.$dirty">
                        <div ng-message="required">This field cannot be empty.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Last Name</label>
                    <input id="lastName" name="lastName" type="text" data-ng-model="user.lastName"
                           required>
                    <div ng-messages="editProfileForm.lastName.$error" ng-if="registerForm.lastName.$dirty">
                        <div ng-message="required">This field cannot be empty.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" ng-if="authenticationService.hasUniform()">
                    <label>Dress size</label>
                    <input id="dressSize" name="dressSize" type="text" data-ng-model="user.dressSize"
                           required>
                    <div ng-messages="editProfileForm.dressSize.$error" ng-if="registerForm.dressSize.$dirty">
                        <div ng-message="required">This field cannot be empty.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" ng-if="authenticationService.hasUniform()">
                    <label>Footwear</label>
                    <input id="footWear" name="footWear" type="text" data-ng-model="user.footWear"
                           required>
                    <div ng-messages="editProfileForm.footWear.$error" ng-if="registerForm.footWear.$dirty">
                        <div ng-message="required">This field cannot be empty.</div>
                    </div>
                </md-input-container>
            </md-dialog-content>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="close()">Close</md-button>
            <md-button type="submit" class="md-primary md-raised" ng-click="submit()"
                       ng-disabled="editProfileForm.$invalid">Update
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>





