 <div>
	<h1>System managers</h1>
	
	<table  class="table table-bordered tableBG" border="1">
		<tbody>
	        <tr>
				<th>Id</th>
				<th>Name</th>
                <th>Manager</th>
                <th colspan="1">Operations</th>
	        </tr>
			<tr ng-repeat="restaurant in restaurants">
				<td> 
					{{restaurant.id}}
				</td>
				<td>
		    		{{restaurant.name}}	
				</td>
            	<td>
		    		{{restaurant.restaurantManager.firstname}}	
				</td>
            	<td>
					<a ng-click="delete(restaurant)" class="btn btn-small btn-default"><span class="glyphicon glyphicon-trash"></span> Delete</a>
				</td>
            </tr>
		</tbody>
    </table> 
</div>

